<!DOCTYPE html>
<head>
    <title>Precise Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hello, World</h1>
    <div class="container">
        <form action="location" method="post" id="search">
            <label for="city">City: </label>
            <input type="text" id="city" name="city" placeholder="Enter your city" />
            <small></small>
            <button type="submit" id="search">Search</button>
        </form>
    </div>  
   
</body>