<!DOCTYPE html>
<head>
    <title>Current Weather at {{ location }}</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <form action="{{ url_for('search') }}" method="post" id="search">
            <!-- <label for="city">City: </label> -->
            <input type="text" id="city" name="city" size="50%" placeholder="Enter your city" />
            <small></small>
            <button type="submit" name="action" value="now" id="now">Now</button>
            <button type="submit" name="action" value="forecast" id="forecast">3-day Forecast</button>
            <button type="submit" name="action" value="timezone" id="timezone">Time Zone</button>
        </form>
    </div>  

    <h1>Welcome to {{ location }}</h1>

    <p>
        <img src={{ now_url }} alt={{ now_desc }}>
    </p>

    <p>
        Condition: {{ desc }} <br>
        Temperature: {{ celsius }} C / {{ fahrenheit }} F <br>
        Real-Feel Temperature: {{ realfeel_c }} C / {{ realfeel_f }} F <br>
        Wind: {{ degree }}. {{ direction }} at speed of {{ kmh }} kph or {{ mph }} mph <br>
        Humidity: {{ humidity }}. UV level: {{ uv }}
    </p>

    <p>
        Local Time: {{ time }} <br>
        Sunrise: {{ sunrise }}. Sunset: {{ sunset }}
    </p>
    
</body>