<!DOCTYPE html>
<head>
    <title>Precise Weather at {{ var1 }}</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="topcorner">
        <form action="{{ url_for('search') }}" method="post" id="search">
            <!-- <label for="city">City: </label> -->
            <input type="text" id="city" name="city" size="50%" placeholder="Enter your city" />
            <small></small>
            <button type="submit" id="search">Search</button>
        </form>
    </div>  

    <h1>Welcome to {{ var1 }}</h1>

    <p>
        Local Time: {{ time }} <br>
        Sunrise: {{ sunrise }}. Sunset: {{ sunset }}
    </p>
    <p>
        Condition: {{ var2 }} <br>
        Temperature: {{ var3 }} C / {{ var4 }} F <br>
        Real-Feel Temperature: {{ var5 }} C / {{ var6 }} <br>
        Wind: {{ var7 }}. {{ var8 }} at speed of {{ var9 }} kph or {{ var10 }} mph
    </p>
    
</body>