<!DOCTYPE html>
<head>
    <title>Precise Weather at {{ var1 }}</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('icons/pe-icon-7-weather',filename='pe-icon-7-weather.css') }}">
</head>
<body>
    <h1>Welcome to {{ var1 }}</h1>

    <p> Location: {{ var1 }} <br>
        Condition: {{ var2}} <br>
        Temperature: {{ var3 }} C / {{ var4 }} F <br>
        Real-Feel Temperature: {{ var5 }} C / {{ var6 }} <br>
        Wind: {{ var7 }}. {{ var8 }} at speed of {{ var9 }} kph or {{ var10 }} mph
    </p>
   
</body>