<!DOCTYPE html>
<head>
    <title>Precise Weather at {{ location }}</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <form action="{{ url_for('search') }}" method="post" id="search">
            <!-- <label for="city">City: </label> -->
            <input type="text" id="city" name="city" size="50%" placeholder="Enter your city" />
            <small></small>
            <button type="submit" name="action" value="now" id="now">Now</button>
            <button type="submit" name="action" value="forecast" id="forecast">3-day Forecast</button>
            <button type="submit" name="action" value="timezone" id="timezone">Time Zone</button>
        </form>
    </div>  

    <h1>Welcome to {{ location }}</h1>

    <p>
        Region: {{ tz_region }} <br>
        Country: {{ tz_country }} <br>
        Latitude: {{ tz_lat }} Degrees <br>
        Longitude: {{ tz_long }} Degrees
    </p>

    <p>
        Time Zone Name: {{ tz_id }} <br>
        Local Time: {{ tz_time }}
    </p>
    
</body>